.super-mario {
  width: 200px;
}

.goomba {
  width: 200px;
}

.baloon {
  top: 600px;
  position: absolute;
  z-index: 1;
}

.speach {
  position: absolute;
  font-size: 20px;
  z-index: 2;
  left: 50px;
}

.bowser {
  position: absolute;
  z-index: 3;
  left: 300px;
  width: 300px;
}
