* {
  margin: 0;
}

h1,
p {
  text-align: center;
}

li:hover {
  background-color: white;
  transition: 1s;
}

li:active {
  color: lightskyblue;
  font-family: "Courier New", Courier, monospace;
  transition: color linear 1s;
}

li {
  margin-top: 1px;
  border: 1px solid black;
  transition: background-color linear;
  background-color: seagreen;
}
