body {
  font-size: 16px;
}

h1 {
  font-size: 65px;
  font-family: sans-serif;
  color: orange;
}

ul {
  background-color: lightyellow;
  line-height: 30px;
  text-decoration: underline;
}

.list-with-title {
  background-color: limegreen;
}

p {
  font-weight: 600;
  font-size: 3em;
  font-style: italic;
}

#yellow {
  background-color: yellow;
}

#red {
  background-color: red;
}

#brown {
  background-color: brown;
}
