h1 {
  text-align: center;
}

body {
  text-align: center;
}

ul {
  list-style: none;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  margin: auto;
  margin-bottom: 5px;
}

.second {
  display: inline-block;
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
}

.third {
  display: inline-block;
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
}

#prizes li {
  display: inline;
}